<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.4.0.ee"/>
    <stringAttribute key="mule-agent-port" value="57625"/>
    <stringAttribute key="mule-agent-token-auth" value="7b5b30d0-c2a6-48c0-a5aa-8c22ca9f95c5"/>
    <listAttribute key="mule-project-names">
        <listEntry value="fnd_diy_1-1_customer-service-accounts"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fnd_diy_1-1_customer-service-accounts"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication"/>
</launchConfiguration>
